#checkout {
  padding: 5%;
  border: 2px solid #000;
  margin: 10%;
  margin: 10%;
}

p {
  font-size: 25px;
  padding: 5px;
}

#submit {
  background-color: #FEC5BB;
  color: #e8f9fd;
  border: none;
  border-radius: 2px;
  text-align: center;
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
}

#total-owed {
  padding-left: 5px;
}
