#checkout-view {
	padding: 5%;
	border: 2px solid #000;
	margin: 10%;
	margin: 10%;
}

p {
	font-size: 25px;
	padding: 5px;
}

#payment-form-region {
	display: grid;
}

label {
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 12px;
	font-size: 22px;
	color: #000;
}

input {
	border: 2px solid #000;
	text-align: center;
	padding: 5px;
}

#submit-payment-btn {
	background-color: #fec5bb;
	color: #e8f9fd;
	border: none;
	border-radius: 2px;
	text-align: center;
	padding: 5px 10px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 18px;
}

#total-owed {
	padding-left: 5px;
}
